@model IEnumerable<CitizenJournalismNetworkServer.Domain.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            AreCategoriesFixed
        </th>
        <th>
            Content Types
        </th>
        <th>
            Categories
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.AreCategoriesFixed
        </td>
        <td>
            @foreach (var contentType in item.AcceptedTypes)
            { 
                @contentType.Text<br />
            }
        </td>
        <td>
            @foreach (var category in item.Categories)
            { 
                @category.Label<br />
            }
        </td>
    </tr>
}

</table>

